<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comments</title>
  </head>
  <body>
    <h1>Comments</h1>
    <ul>
      <% for (let i = 0; i < comments.length; i++) { %>
      <li>
        <strong><%= comments[i].username %>:</strong> <%= comments[i].comment %>
        <a href="/comments/<%= comments[i].id %>">Details</a>
      </li>
      <% } %>
    </ul>
    <form action="/comments/new" method="GET">
      <button type="submit">Add New Comment</button>
    </form>
  </body>
</html>
