@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #AED6F1;
    color: black;
    font-family: sans-serif;
}

.card{
    background-color: white;
    width: 100%;
    max-width: 410px;
    display: flex;
    position: absolute;
    top: 35%;
    left: 35%;
    align-items: center;
    margin: auto auto;
    padding: 12px 12px;
    border-radius: 3%; 
}

.info{
    text-align: center;
    margin: 12px;
}

.info>#h{
    font-size: 21px;
    line-height: 1.3;
    word-spacing: 0;    
}

.info>#para{
    opacity: 0.7;
    font-family: px;
}

.qrCode{
    margin-left: 5px;
    width: 100%;
    background-color: #C39BD3;
}

#way{
    padding: 50px;
    width: 130px;
}